html body {
  background-color: #E6E6E6;
}

.title {
  font-size: 2em;
  color: #FF0000;
  padding: 5em;
  float: right;
}

.heading {
  font-size: 1.25em;
  margin: 1em 0 0 3em;
}

.mdl-list {
  padding: 5em 0 2em 10em;
}

.mdl-list__item {
  width: 50%;
}

.mdl-list__item:nth-of-type(odd) {
  background: #EEEEEC;
}

.mdl-list__item:nth-of-type(even) {
  background: #BABDB6;
}

.clicked {
  background-color: yellow;
}

.form {
  text-shadow: 2px 2px 2px 2px;
  padding: 1em 1em 2em 20em;
}

input {
  font-size: 1.2em;
}

input:focus {
  border: 2px solid #555555;
  background-color: #FDFDFD;
}
